.container {
    max-width: 80%;
    margin: 0 auto;
    background-color: silver;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container div {
    min-width: 200px;
    max-width: 100%;
    margin: 10px auto;
    background-color: dimgray;
}

.skills {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    background-color: silver;
}

.skills h1 {
    margin: 0;
    padding: 20px 0;

}

.framework {
    text-align: center;
}

.framework div {
    width: 40%;
    margin: 0 auto;
}

.framework div h2 {
    border: 2px solid;
    background-color: orange;
}

.text {
    margin: 2.5% 2%;
    align-self: center;
    width: 30%;
}
